<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4"><span class="text-primary">Happy Pay</span> Business Opportunities</h4>
                <p class="text-muted para-desc mb-0 mx-auto">Our unique platform has exciting <span class="text-primary fw-bold">business opportunity</span> for everyone, be it retailer, distributor, API or Whitelable partner!</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 mt-4 pt-2 text-center">
            <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded" id="pills-tab" role="tablist">
                
                <li class="nav-item">
                    <a class="nav-link rounded active" id="pills-customer-tab" data-bs-toggle="pill" href="#pills-customer" role="tab" aria-controls="pills-cloud" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0">Customer</h6>
                        </div>
                    </a><!--end nav link-->
                </li>  
                <li class="nav-item">
                    <a class="nav-link rounded " id="pills-cloud-tab" data-bs-toggle="pill" href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0">Retailer</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item">
                    <a class="nav-link rounded" id="pills-smart-tab" data-bs-toggle="pill" href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0  nddd">Distributor</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item">
                    <a class="nav-link rounded" id="pills-apps-tab" data-bs-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0">Master Distributor</h6>
                        </div>
                    </a><!--end nav link-->
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded" id="pills-franchise-tab" data-bs-toggle="pill" href="#pills-franchise" role="tab" aria-controls="pills-franchise" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0">Franchise</h6>
                        </div>
                    </a><!--end nav link-->
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded" id="pills-super-tab" data-bs-toggle="pill" href="#pills-super" role="tab" aria-controls="pills-super" aria-selected="false">
                        <div class="text-center py-2">
                            <h6 class="mb-0"> Super Franchise</h6>
                        </div>
                    </a><!--end nav link-->
                </li>
              <!--end nav item-->
            </ul><!--end nav pills-->
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 mt-4 pt-2">
            <div class="tab-content" id="pills-tabContent">


                <div class="tab-pane fade show active" id="pills-customer" role="tabpanel" aria-labelledby="pills-customer-tab">
                    <div class="row align-items-center">
                        <div class="container">
                            <div class="row align-items-center pt-5">
                                <div class="col-lg-7 col-md-6">
                                    <div class="title-heading">
                                        <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span>Customer</h1>
                                        <p class="para-desc text-muted">
                                         <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                                            </p>
                                 
                                            <div class="content">
                                         
                                                <div class="bar"></div>
                                                <p>  1.	Self cash-back on all Happy Pay services (Slab-1).</p>
                                                <p>   2.	All the users are eligible for referral commissions.</p>
                                                  <p>     3.	All the commission will be credited to coins wallet.</p>
                                                      <p>   4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p>
                                                          <p>   5.	No Commissions will be credited on your down-line team earnings.</p>
                                                              <p>   6.	Retailer Licence will be awarded from the Happy Pay (BUDDICA) Company.</p>
                                    
                                        </div>
                    
                                        <div class="mt-4 pt-2">
                                            <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                                        </div>
                                    
                                    </div>
                                </div><!--end col-->
                    
                                <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                    <div class=" position-relative">
                                        <div class=" position-relative">
                                            <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end row-->
                </div><!--end teb pane-->



                <div class="tab-pane fade" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                    <div class="row align-items-center">
  <div class="container">
        <div class="row align-items-center pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="title-heading">
                    <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span>Retailer</h1>
                    <p class="para-desc text-muted">
                     <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                        </p>
             
                        <div class="content">
                     
                            <div class="bar"></div>
                            <p>  1.	Self cash-back on all Happy Pay services (Slab-2).</p>
                            <p>   2.	All the users are eligible for referral commissions.</p>
                              <p>     3.	All the commission will be credited to coins wallet.</p>
                                  <p>   4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p>
                                      <p>   5.	Commissions will be credited on 1-level of down-line team earnings.</p>
                                          <p>   6.	Retailer Licence will be awarded from the Happy Pay (BUDDICA) Company.</p>
                
                    </div>

                    <div class="mt-4 pt-2">
                        <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                    </div>
                
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class=" position-relative">
                    <div class=" position-relative">
                        <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end col-->
                    </div><!--end row-->
                </div><!--end teb pane-->
                
                <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                    <div class="container">
                        <div class="row align-items-center pt-5">
                            <div class="col-lg-7 col-md-6">
                                <div class="title-heading">
                                    <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span>Distributor</h1>
                                    <p class="para-desc text-muted">
                                     <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                                        </p>
                             
                                        <div class="content">
                                     
                                            <div class="bar"></div>
                                            <p> 1.	Self cash-back on all Happy Pay services (Slab-2).</p> 
                                            <p>  2.	All the users are eligible for referral commissions.</p> 
                                            <p>   3.	All the commission will be credited to coins wallet.</p> 
                                            <p>  4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p> 
                                            <p>  5.	Commissions on 2-levels of down-line team earnings.</p> 
                                              <p>  6.	Distributor Licence will be awarded from the Happy Pay (BUDDICA) Company.</p> 
                                                  <p>  7.	 Free worth of Rs 10,000/- Retailer IDs(5) are gifted to the Distributor.</p> 
                                                      <p>  8.	Distributor Licence will be awarded from the Happy Pay (BUDDICA) Company.</p> 
                                              
                                    </div>
                
                                    <div class="mt-4 pt-2">
                                        <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                                    </div>
                                
                                </div>
                            </div><!--end col-->
                
                            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <div class=" position-relative">
                                    <div class=" position-relative">
                                        <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>   <!--end row-->                       
                </div><!--end teb pane-->




                <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
                    <div class="container">
                        <div class="row align-items-center pt-5">
                            <div class="col-lg-7 col-md-6">
                                <div class="title-heading">
                                    <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span> Master Distributor</h1>
                                    <p class="para-desc text-muted">
                                     <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                                        </p>
                             
                                        <div class="content">
                                     
                                            <div class="bar"></div>
                                            <p>  1.	Self cash-back on all Happy Pay services (Slab-2).</p>  
                                            <p>    2.	All the users are eligible for referral commissions.</p>  
                                                <p>    3.	All the commission will be credited to coins wallet.</p>  
                                                    <p>    4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p>  
                                                <p>    5.	Commissions on 3-levels of down-line team earnings.</p>  
                                                    <p>    6.	Master Distributor Licence will be awarded from the Happy Pay (BUDDICA) Company.</p>  
                                                        <p>    7.	Free worth of Rs 20,000/- Retailer IDs(10) are gifted to the Master Distributor.</p>  
                                                
                                    </div>
                
                                    <div class="mt-4 pt-2">
                                        <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                                    </div>
                                
                                </div>
                            </div><!--end col-->
                
                            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <div class=" position-relative">
                                    <div class=" position-relative">
                                        <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>   <!--end row-->                        
                </div><!--end teb pane-->




                <div class="tab-pane fade" id="pills-franchise" role="tabpanel" aria-labelledby="pills-franchise-tab">
                    <div class="container">
                        <div class="row align-items-center pt-5">
                            <div class="col-lg-7 col-md-6">
                                <div class="title-heading">
                                    <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span>Franchise</h1>
                                    <p class="para-desc text-muted">
                                     <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                                        </p>
                             
                                        <div class="content">
                                     
                                            <div class="bar"></div>
                                            <p>  1.	Self cash-back on all Happy Pay services (Slab-2).</p> 
                                            <p>  2.	All the users are eligible for referral commissions.</p> 
                                               <p> 3.	All the commission will be credited to coins wallet.</p> 
                                                   <p>  4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p> 
                                                       <p>  5.	Commissions on 4-levels of down-line team earnings.</p> 
                                                           <p>  6.	Franchise Licence will be awarded from the Happy Pay (BUDDICA) Company.</p> 
                                                               <p>  7.	 Free worth of Rs 30,000/- Retailer IDs(15) are gifted to the Franchise.</p> 
                                               
                                    </div>
                
                                    <div class="mt-4 pt-2">
                                        <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                                    </div>
                                
                                </div>
                            </div><!--end col-->
                
                            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <div class=" position-relative">
                                    <div class=" position-relative">
                                        <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->   <!--end row-->                        
                </div><!--end teb pane-->




                
                <div class="tab-pane fade" id="pills-super" role="tabpanel" aria-labelledby="pills-super-tab">
                    <div class="container">
                        <div class="row align-items-center pt-5">
                            <div class="col-lg-7 col-md-6">
                                <div class="title-heading">
                                    <h1 class="heading mb-3">Become an  <span class="text-primary"> Happy Pay </span>Super Franchise</h1>
                                    <p class="para-desc text-muted">
                                     <span style="color:#0B2476">Provide 500+ Digital Services</span>  – “  <span style="color:#0B2476"> Happy Pay </span> - <span class="text-primary"> Happy Earnings </span> ”
                                        </p>
                             
                                        <div class="content">
                                     
                                            <div class="bar"></div>
                                           <p> 1.	Self cash-back on all Happy Pay services (Slab-2).</p>
                                           <p>  2.	All the users are eligible for referral commissions.</p>
                                            <p> 3.	All the commission will be credited to coins wallet.</p>
                                                <p> 4.	Full KYC is mandatory to withdraw money from wallet to Bank A/C.</p>
                                                    <p> 5.	Commissions on 5-levels of down-line team earnings.</p>
                                                        <p> 6.	Super Franchise Licence will be awarded from the Happy Pay (BUDDICA) Company.</p>
                                                            <p> 7.	 Free worth of Rs 50,000/- Retailer IDs(25) are gifted to the Franchise.</p>
                                             
                                    </div>
                
                                    <div class="mt-4 pt-2">
                                        <a href="#lead_form" target="" class="btn btn-primary">Join  Happy Pay</a>
                                    </div>
                                
                                </div>
                            </div><!--end col-->
                
                            <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <div class=" position-relative">
                                    <div class=" position-relative">
                                        <img src="../../../../../assets/images/Happy Payqr.png" class="mx-auto d-block" alt="" width="600">
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->                      
                </div><!--end teb pane-->


                
                
            </div><!--end tab content-->
        </div><!--end col-->
    </div><!--end row-->
</div>