

<div class="pb-10"  style="    background: linear-gradient(
    -45deg, rgba(21,64,214,1), rgba(42,188,238,1),rgba(21,64,214,1),rgba(42,188,238,1) ); padding:20px; animation: gradient 15s ease infinite; @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }">
    
               <h3 style="
               text-align: center;color:#fff;">Become a Retailer and Earn upto Rs.1 Lakh per month.</h3>
                <div class="" style="
                text-align: center;color:#fff;"> 
                       <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#myModal1">
                            <div class="btn btn-primary">Sign Up</div>
                        </a>
                    </div>
            </div>

			<section class="pb-30 pt-70">


<div class=" pb-70 pt-70 boxes-area boxes-style-two bg-f5f7fa pb-5">
    <div class="containeer">

	
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<div class="section-title mb-4 pb-2">
						<h4 class="title mb-4"><span class="text-primary">Happy Pay</span> Services</h4>
						<!-- <p class="text-muted para-desc mb-0 mx-auto">Our unique platform has exciting <span class="text-primary fw-bold">business opportunity</span> for everyone, be it retailer, distributor, API or Whitelable partner!</p>
					 -->
					</div>
				</div><!--end col-->
			</div>
		<div class="single-funfacts-item with-box-shadow">

			<div class="item-all-cat center-block text-center education-categories">
				<div class="row">

					<div class="col-lg-2 col-md-4 col-sm-6 " >
						<div class="item-all-card text-dark text-center" >
							<a routerLink="/rechargeservices">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/1. Recharge.png">
							
                            <div class="iteam-all-icon">
								<i class="fa fa-mobile gradient-icon"></i>
							</div></a>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/rechargeservices">Recharge Services</a></h5>
							</div>
						</div>
					</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark text-center">
							<a routerLink="/billpayments">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/2. Bill payments.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-television  gradient-icon "></i>
							</div>
						
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/billpayments">Bill Payments</a></h5>
							</div>
						</a>
						</div>
					</div>
						<div class="col-lg-2 col-md-4 col-sm-6 " >
						<div class="item-all-card text-dark text-center">
							<a routerLink="/banking">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/3. Banking.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-wifi gradient-icon"></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/banking">Banking</a></h5>
							</div>
							</a>
						</div>
					</div>
						<div class="col-lg-2 col-md-4 col-sm-6 " >
						<div class="item-all-card text-dark text-center">
							<a routerLink="/payment">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/4. Payment.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-signal gradient-icon"></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/payment">Payment</a></h5>
							</div>
						</a>
						</div>
					</div>
					
					
							<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark text-center">
							<a routerLink="/travel">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/5. All Travels.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-volume-control-phone gradient-icon "></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/travel">All Travels</a></h5>
							</div>
						</a>
						</div>
					</div>


					
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark text-center">
							<a routerLink="/loans">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/6. Loans.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-television  gradient-icon "></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/loans">Loans</a></h5>
							</div>
							</a>
						</div>
					</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark item-all-textn  text-center">
							<a routerLink="/insurance">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/7. Insurance.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-lightbulb-o gradient-icon"></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/insurance">Insurance</a></h5>
							</div>
						</a>
						</div>
					</div>
					
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark item-all-textn  text-center mb-10">
							<a routerLink="/investiments">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/8. Investments.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-train gradient-icon"></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/investiments">Investiments</a></h5>
							</div>
							</a>
						</div>
					</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark item-all-textn text-center mb-md-0">
							<a routerLink="/business">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/9. Business.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-rocket gradient-icon "></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/business">Business</a></h5>
							</div>
						</a>
						</div>
					</div>
							<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark  item-all-textn text-center">
							<a routerLink="/governance">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/10. E- Governance.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-pied-piper-alt gradient-icon  fa-3x"></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/governance">E-Governance</a></h5>
							</div>
							</a>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark  item-all-textn  text-center">
							<a routerLink="/itservices">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/11. IT services.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-hotel  gradient-icon "></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0"><a routerLink="/itservices">IT Services</a></h5>
							</div>
						</a>
						</div>
					</div>
					
						<div class="col-lg-2 col-md-4 col-sm-6">
						<div class="item-all-card text-dark item-all-textn text-center">
							<a routerLink="/amazoneasy">
                            <img class="img-fluid rounded" alt="" src="../../../../assets/images/12. Amazon easy.png">
							
							<div class="iteam-all-icon">
								<i class="fa fa-plane  gradient-icon "></i>
							</div>
							<div class="item-all-text mt-3">
								<h5 class="mb-0">	<a routerLink="/amazoneasy">Amazon Easy</a></h5>
							</div>
							</a>
						</div>
					</div>
					
				
					
				</div>
			</div>

	
        <!-- <div class="row justify-content-center">
            <div *ngFor="let item of cards" class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-box-item">
                    <div class="image">
                        <img [src]="item.image" alt="image">
                    </div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.content}}</p>
                    <a routerLink="/courses-1" class="default-btn" style="padding-left: 35px;">Start Now!</a>
                </div>
            </div>
        </div> -->
	</div>     
    </div>
</div>




</section>





			<section class="pb-30 pt-30">
<div class="boxes-area boxes-style-two bg-f5f7fa pb-5">
    <div class="container">
		

			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<div class="section-title">
						<h4 class="title mb-4"><span class="text-primary"> Happy Pay – </span> Merchant Services </h4>
					</div>
				</div><!--end col-->
			</div><!--end row-->
		

	<div class="row justify-content-center">
		<div class="col-md-4 mt-4 pt-2">
			<ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link rounded active" id="proposal" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-postcard me-2 h5"></i>Aadhaar Banking</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="contract" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-notes me-2 h5"></i>Mini ATM</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="crm" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-folder-check me-2 h5"></i>Money Transfer</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="timetracking" data-bs-toggle="pill" href="#time-track" role="tab" aria-controls="time-track" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-clock me-2 h5"></i>Payment Solutions</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="invoice" data-bs-toggle="pill" href="#invoices" role="tab" aria-controls="invoices" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-invoice me-2 h5"></i>Utility Services</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="tasktracking" data-bs-toggle="pill" href="#task-track" role="tab" aria-controls="task-track" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil uil-exchange-alt me-2 h5"></i>Savings Insurance Khata</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a>
				</li>
				
				<li class="nav-item mt-2">
					<a class="nav-link rounded" id="prepaid" data-bs-toggle="pill" href="#pre-paid" role="tab" aria-controls="pre-paid" aria-selected="false">
						<div class="text-start d-flex align-items-center justify-content-between py-1 px-2">
							<h6 class="mb-0"><i class="uil-card-atm me-2 h5"></i>Pre-Paid Card</h6>
							<i class="uil uil-angle-right-b"></i>
						</div>
					</a><!--end nav link-->
				</li><!--end nav item-->
				
			</ul><!--end nav pills-->
		</div><!--end col-->



		
		<div class="col-md-8 col-12 mt-4 pt-2">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade bg-white show active p-4 rounded shadow" id="developing" role="tabpanel" aria-labelledby="proposal">
					<h4 class="mb-4">Aadhaar Enabled Payment Services (AEPS)</h4>
					<p class="text-muted mb-0">Any Happy Pay AEPS agent can convert their store into Aadhaar ATM. Customers can safely withdraw cash, get mini statement, balance inquiry and even payment can be done using their Aadhaar card and thumb authentication only! Happy Pay AEPS agent earns a high commission per transaction.</p>

					<div class="mt-4">
						<a href="./AEPS.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/AePS.png" class="img-fluidd" alt="Aadhaar Enabled Payment Services – AEPS">
					</div>
				</div><!--end teb pane-->
				
				<div class="tab-pane fade bg-white p-4 rounded shadow" id="data-analise" role="tabpanel" aria-labelledby="contract">
					<h4 class="mb-4">Convert your Store into ATM</h4>
					<p class="text-muted mb-0">Happy Pay Mini ATM machine is a solution for merchants who want to receive card payment anywhere, anytime, and who want to extend additional services to their customers. Convert your store into an ATM using the Micro ATM machine and provide cash withdrawal service at your outlet.</p>

					<div class="mt-4">
						<a href="./M-ATM.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Mini ATM.png" class="img-fluidd" >
					</div>
				</div><!--end teb pane-->

				<div class="tab-pane fade bg-white p-4 rounded shadow" id="security" role="tabpanel" aria-labelledby="crm">
					<h4 class="mb-4">Domestic Money Transfer (DMT)</h4>
					<p class="text-muted mb-0">With Happy Pay you have the opportunity to start money transfer business and transfer cash from your outlet to any Bank Account across the country with least charges in the industry, leading to a high income opportunity for all our money transfer agents. On every transaction, the retailer can earn a handsome income.</p>

					<div class="mt-4">
						<a href="./money-transfer.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Money Transfer.png" class="img-fluidd" >
					</div>
				</div><!--end teb pane-->
				
				<div class="tab-pane fade bg-white p-4 rounded shadow" id="time-track" role="tabpanel" aria-labelledby="timetracking">
					<h4 class="mb-4">UPI, QR Code, MPOS, Aadhar Pay</h4>
					<p class="text-muted mb-0">Happy Pay partners can offer multiple Payment options for the convenience of their customers- a unique UPI &amp; QR Code where customer can pay by scanning, MPOS for Debit/Credit Card Swipe, Payment Link for online payment and Aadhaar Pay where customers can pay using their Aadhaar card and many more.</p>

					<div class="mt-4">
						<a href="./payment-solutions.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Payment-Solutions.png" class="img-fluidd" >
					</div>
				</div><!--end teb pane-->
				
				<div class="tab-pane fade bg-white p-4 rounded shadow" id="invoices" role="tabpanel" aria-labelledby="invoice">
					<h4 class="mb-4">Recharge, Bill Payments, PAN Card</h4>
					<p class="text-muted mb-0">Customer Mobile and DTH Recharge, Electricity, Gas and 30+ such bill payments, PAN Card Creation services are offered in Happy Pay panel to help the partner attract more customers and increase their service portfolio while earning money on each transaction.</p>

					<div class="mt-4">
						<a href="./utility-services.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Utility-Services.png" class="img-fluidd">
					</div>
				</div><!--end teb pane-->
				
				<div class="tab-pane fade bg-white p-4 rounded shadow" id="task-track" role="tabpanel" aria-labelledby="tasktracking">
					<h4 class="mb-4">Risk Free Guaranteed Returns</h4>
					<p class="text-muted mb-0">Ensuring Risk free guaranteed returns, Happy Pay introduces an Insurance Saving plan with 25 times cover. Get more returns than any savings account on the amount invested. Happy Pay partners will add to their income and help customers fulfil their dreams with the savings plan.</p>

					<div class="mt-4">
						<a href="./super-insurance-khata.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Savings-Insurance-Khata.png" class="img-fluidd" >
					</div>
				</div><!--end teb pane-->
					
					<div class="tab-pane fade bg-white p-4 rounded shadow" id="pre-paid" role="tabpanel" aria-labelledby="prepaid">
					<h4 class="mb-4">Debit Card without Account</h4>
					<p class="text-muted mb-0">Using the Happy Pay Prepaid card, Happy Pay partners can provide debit cards to customers who do not own a bank account. Customers can use these cards to pay for purchases like any normal debit card.</p>

					<div class="mt-4">
						<a href="./pre-paid-cards.php" class="text-primary h6">Know More<i class="uil uil-angle-right-b align-middle"></i></a>
					</div>

					<div class="mt-4">
						<img src="../../../../assets/images/Prepaid Cards.png" class="img-fluidd">
					</div>
				</div><!--end teb pane-->
				
			</div><!--end tab content-->
		</div><!--end col-->
	</div>
</div><!--end tab content-->
</div><!--end col-->

</section>